<form name="myForm" id="myForm" action="/noticias" method="post" style="visibility: hidden"> 
	<input type="hidden" id="str" name="str" value="" /> 
	<input type="submit" id="btn" name="submit" value="Submit" />
</form>

<img src="img/loader.gif" class="loader">
 	
<script>

        
callAPI()
        
        
</script>
