<div class="background-cor"> 
    <form class="form-search" action="/procurar" method="POST">
        <table>
            <tr>
                <td><input type="text" name="search" placeholder="Search by name" class="input-search"></td>
                <td><input type="image" src="img/search.png" alt="Submit" width="48px" height="48px"></td>
            </tr>
        </table>
    </form>
</div>