<html lang="en">
	<head>
        <meta charset="utf-8" />
		
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="apple-touch-icon" sizes="180x180" href="/img/fav/favicon-180x180.png">
  		<link rel="icon" type="image/png" sizes="32x32" href="/img/fav/favicon-32x32.png">
  		<link rel="icon" type="image/png" sizes="16x16" href="/img/fav/favicon-16x16.png">

		<link rel="stylesheet" href="lib/bootstrap4/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/css/style.css">

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="lib/bootstrap4/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

		<title>Daily Screening</title>

	</head>

    <body>

        <header class="header">
            <ul class="list-inline header-title">
                <li class="list-inline-item"><a href="/carregando" id="title"><h2>Daily Screening</h2></a></li>
            </ul>
            <ul class="list-inline header-opc ml-3">
                <li class="list-inline-item"><h5><a href="/carregando">News</a></h5></li>
                <li class="list-inline-item"><h5><a href="/patients">Patients</a></h5></li>
                <li class="list-inline-item"><h5><a href="/logout">Logout</a></h5></li>
            </ul>
        </header>

        <?= $this->content() ?>
        
	</body>

</html>